# Django
DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_ENGINE=django.db.backends.postgresql
DB_NAME=eventify_db
DB_USER=eventify_user
DB_PASSWORD=eventify123
DB_HOST=localhost
DB_PORT=5432

# Optional: set an explicit test database name
DB_TEST_NAME=test_eventify_db
